@charset "utf-8";

/* Import Bootstrap*/

@import "bootstrap/customVariables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
	font-family: 'FontAwesome';
	src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
	src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

$orange: #e9573f;
$text: #1a2733;
html {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	overflow-x: hidden;
}

body {
	color: $text;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.7em;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
	overflow-x: hidden;
}

a {
	color: $orange;
	&:hover,
	&:focus,
	&:active {
		color: $text;
		text-decoration: none;
		transition: all 0.5s ease-in;
	}
}

a:focus,
a:active {
	outline: none;
}

h1,
h2,
h3 {
	color: $text;
	font-weight: 400;
}

img {
	display: block;
	margin: 50px auto 0;
	width: 100%;
}

.navbar-default.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
	position: fixed;
	bottom: auto;
  }
.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-toggle {
	border-radius: 0;
	.icon-bar {
		border-radius: 0;
	}
}

.navbar-default .navbar-toggle {
	border-color: black;
	&:active,
	&:focus,
	&:hover {
		background-color: transparent;
	}
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-brand {
	height: auto;
	img {
		float: left;
		margin: 0;
		width: auto;
		max-width: none !important;
		max-height: 25px;
		position: relative;
		z-index: 999;
	}
}

.navbar-default {
	background-color: rgba(255,255,255,0.7);
	border-color: transparent;
	width: 100%;
}

.navbar-default .navbar-nav {
	float: right;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: $orange;
	padding: 15px 17px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: $text;
}

.navbar-default .navbar-collapse {
	border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
	color: $text;
	padding: 15px 17px;
	&:hover {
		color: $orange;
	}
}

section {
	text-align: center;
	padding: 110px 0;
	h2 {
		color: #3c3c3c;
		font-size: 34px;
		font-weight: 700;
		letter-spacing: 1.6px;
		position: relative;
		padding: 0 0 25px 0;
		text-transform: uppercase;
		&:after {
			position: absolute;
			content: "";
			height: 4px;
			width: 45px;
			background-color: #dddbdb;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			bottom: 0;
		}
		+p {
			margin: 40px 0;
		}
	}
}

#top {
	background-image: url("../img/header.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	position: relative;
	* {
		text-transform: uppercase;
	}
	h2 {
		display: block;
		font-size: 60px;
		font-weight: 600;
		margin-top: 20vh;
		&:after {
			content: none;
		}
	}
	span.title {
		display: block;
		font-size: 36px;
		font-weight: 400;
		margin: 5vh 0;
	}
	p {
		font-size: 15px;
		font-weight: 400;
	}
	img {
		max-width: 32px;
	}
}
#about {
	iframe {
		border: none;
	}
}
#who {
	background-color: #f6f6f6;
	.col-md-3 {
		text-align: left;
	}
	h3 {
		clear: both;
		display: block;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0;
	}
	span {
		color: #646464;
		font-size: 14px;
	}
	.figure {
		position: relative;
		width: 100%;
		font-size: 16px;
		line-height: 1.2em;
	}

	.figure *,
	.figure *:before,
	.figure *:after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}

	.figure:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background-color: $orange;
		opacity: 0;
		-webkit-transition: all 0.35s ease;
		transition: all 0.35s ease;
	}

	.figure img {
		max-width: 100%;
		vertical-align: top;
	}

	.figure .icons {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.figure a {
		margin: 2px;
		opacity: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.figure a i {
		display: block;
		font-size: 24px;
		line-height: 40px;
		width: 40px;
		background-color: rgba(255,255,255,0.3);
		text-align: center;
		color: #fff;
	}

	.figure a i:hover {
		background-color: rgba(255,255,255,0.3);
		color: $orange;
		cursor: pointer;
	}

	.figure:hover:before,
	.figure.hover:before {
		opacity: 0.9;
	}

	.figure:hover a,
	.figure.hover a {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	.figure:hover a:nth-child(2),
	.figure.hover a:nth-child(2) {
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	.figure:hover a:nth-child(3),
	.figure.hover a:nth-child(3) {
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}
}

#what-we-do {
	h3 {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			color: $orange;
		}
	}
	img {
		max-width: 66px;
	}
}

#work {
	#work-slider {
		div {
			&:first-child .img-container {
				background: url("../img/slide3.png") no-repeat center center / cover;
			}
			&:nth-child(2) .img-container {
				background: url("../img/slide1.png") no-repeat center center / cover;
			}
			&:nth-child(3) .img-container {
				background: url("../img/slide2.png") no-repeat center center / cover;
			}
			.img-container {
				position: relative;
				height: 295px;
				&:hover .layer {
					opacity: 0;
				}
				&:hover h2 {
					display: block;
				}
				.layer {
					position: absolute;
					 top: 0;
					 left: 0;
					 width: 100%;
					 height: 100%;
					 background-color: $orange;
					 opacity: 0.6;
				}
				h2 {
					background-color: $orange;
					color: #fff;
					display: none;
					font-size: 16px;
					font-weight: 700;
					 opacity: 0.82;
					position: absolute;
					bottom: 0;
					margin: 10px 0 0 0;
					padding: 15px 0;
					text-transform: uppercase;
					width: 100%;
					&:after {
						content: none;
					}
					a {
						color: #fff;
					}
				}
			}
		}
	}
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
	margin: 40px 0 0 0;
}
.owl-theme .owl-controls .owl-page.active span {
    background: none repeat scroll 0 0 $orange;
    border-radius: 20px;
    display: block;
    height: 16px;
    margin: 5px 7px;
    opacity: 1;
    width: 16px;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #e6e5e5;
    border-radius: 20px;
    display: block;
    height: 10px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 10px;
}

#clients {
	background: url("../img/clients-bg.png") no-repeat center center / cover;
	color: #fff;
	h2 {
		color: #fff;
		&:after {
			background-color: #fff;
		}
	}
	img {
		margin: 20px auto;
		width: auto;
	}
}
#contact {
	span {
		display: block;
		font-size: 24px;
		font-weight: 400;
		margin: 40px 0 70px 10px;
		text-align: left;
	}
	form {
		input,
		textarea {
			border: none;
			border-bottom: 1px solid #ccc;
			width: 100%;
			padding: 15px 10px;
		}
		textarea {
			max-height: 50px;
			overflow: hidden;
		}
		button[type="submit"],
		input[type="submit"] {
			background-color: $orange;
			border: 1px solid $orange;
			color: #fff;
			display: block;
			font-size: 16px;
			font-weight: 400;
			margin: 40px 0 0 0;
			padding: 5px 15px;
			text-align: center;
		}
	}
	.social-share {
		a {
			display: block;
			margin: 2px 0;
			padding: 10px 0;
			width: 100%;
			&:first-child {
				background-color: #0e9ef9;
			}
			&:nth-child(2) {
				background-color: #51d7fd;
			}
			&:nth-child(3) {
				background-color: #fa4e9b; 
			}
			&:nth-child(4) {
				background-color: #2a63ab;
			}
			&:nth-child(5) {
				background-color: #f13131;
			}
			i {
				color: #fff;
				font-size: 30px;
				text-align: center;
			}
		}
	}
}

footer {
	background-color: #c9c9ca;
	border-top: 1px solid #b6b6b7;
	padding: 20px 0;
	p {
		margin: 0;
	}
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media (max-width: 768px) {
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:focus {
		background-color: transparent;
		color: $orange;
		line-height: 15px;
	}
	.navbar-default .navbar-nav > li > a {
		color: black;
		line-height: 15px;
		padding: 15px 20px;
		text-align: center;
		font-weight: 400;
	}
	.navbar-default .navbar-nav.pull-right {
		width: 100%;
	}
	.navbar-default .navbar-nav {
		float: none;
	}
	.navbar-default .navbar-collapse {
		border-color: transparent;
	}
	#top {
		h2 {
			font-size: 40px;
		}
	}
	.icons {
		position: relative;
			a {
			position: relative;
			display: block;
			float: left;
			font-size: 24px;
			line-height: 40px;
			margin: 0 5px 0 0;
			width: 40px;
			background-color: $orange;
			text-align: center;
			color: #fff;
		}
	}
	#contact form button[type="submit"], 
	#contact form input[type="submit"] {
		margin-bottom: 30px;
	}
	#contact .social-share a {
		width: 30%;
	}
}